VITE_PROXY_API_BASE_URL = 'http://localhost:8000'
VITE_PROXY_WS_BASE_URL = 'ws://localhost:8000'

VITE_PATTERN_DIR = '^(?!_).*/$'
VITE_PATTERN_FILE = '^(?!_).*\.py$'
VITE_PATTERN_CLS = '^(?!ExperimentV\d+$).*'

# TTL
TTL_KEYS = 'Cooling, Detection'

TTL_COOLING_LABEL = 'Cooling'
TTL_COOLING_DEVICE = 'ttl0'

TTL_DETECTION_LABEL = 'Detection'
TTL_DETECTION_DEVICE = 'ttl1'
